*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

display:flex;
background:#f3f4f6;

}

.sidebar{

width:240px;
height:100vh;
background:#111827;
padding:20px;
position:fixed;
left:0;
top:0;

}

.sidebar h2{

color:white;
margin-bottom:40px;

}

.sidebar button{

width:100%;
padding:14px;
margin-bottom:12px;
border:none;
border-radius:8px;
cursor:pointer;
font-size:16px;

}

.nav{

background:#1f2937;
color:white;

}

.active{

background:#2563eb;

}

.logout{

background:#dc2626;
color:white;
margin-top:40px;

}

.main{

margin-left:260px;
padding:30px;
width:100%;

}

header{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;

}

.cards{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-bottom:30px;

}

.card{

background:white;
padding:25px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.panel{

background:white;
padding:25px;
border-radius:12px;

}

table{

width:100%;
border-collapse:collapse;
margin-top:20px;

}

th,td{

padding:15px;
border-bottom:1px solid #ddd;
text-align:left;

}

img{

width:60px;
height:60px;
object-fit:cover;
border-radius:8px;

}

#addProductBtn{

background:#2563eb;
color:white;
padding:12px 20px;
border:none;
border-radius:8px;
cursor:pointer;
margin-top:15px;

}